<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
{{> header}}

<p>{{hello}}</p>

<a href="https://github.com/realTrueProger/">Check me up on GitHub</a>

{{> footer}}
</body>
</html>